#body {
    background: linear-gradient(90deg, #a1dbae 20%, #ebbdb1 80%);
    font-family: sans-serif;
}

.row {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}

.col {
    padding: 0 10px;
    float: left;
}

#tbl {
    border: 1px solid white;
}

#tbl2 {
    height: 50px;
    border: 1px solid white;
}

#div1 {
    background-image: url('Ribbon.jpg');
    background-repeat: repeat;
}

.ribbon {
    border: 1px solid white;
    height: 70px;
    width: 140px;
    overflow-y: hidden;
    overflow-x: scroll;

}