#body {
    height: 100%;
    width: 100%;
    /*background: linear-gradient(90deg, #a1dbae 20%, #ebbdb1 80%);*/
    background: royalblue;
    font-family: sans-serif;
}


.col {
    padding: 0 10px;
    float: left;
}

.margin-bot-30{
    margin-bottom: 30px;
}

.margin-top-30{
    margin-top: 30px;
}

.table td {
    border: black solid 1px !important;
}

.input{
    border: black solid 1px !important;
}

.tablediv {
    overflow: auto;
    max-width: 100%;
    display: inline-block;
    table-layout: fixed;
    white-space: nowrap;
}

#tbl2 {
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
}

#div1 {
    background-image: url('Ribbon.jpg');
    background-repeat: repeat;
}

.ribbon {
    height: 70px;
    width: 140px;
    overflow-y: hidden;
    overflow-x: auto;
}

.footer {
    background: darkgray;
}
